<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
        <tr>
        <tr><td>9:00</td> <td> <a href="https://datacarpentry.org/r-socialsci/01-intro-to-r/index.html">Introducción a R</a></td></tr>
        <tr><td>10:00</td> <td> <a href="https://datacarpentry.org/r-socialsci/02-starting-with-data/index.html">Empezando con datos</a></td></tr>
        <tr><td>11:20</td> <td> <a href="https://media.tenor.com/P81o0msuiN4AAAAC/tired-exhausted.gif">Recreo</a></td></tr>
        <tr><td>11:30</td> <td> <a href="https://datacarpentry.org/r-socialsci/03-dplyr/index.html">Manipulación de datos con dplyr</a></td></tr>
        <tr><td>12:15</td> <td> <a href="https://datacarpentry.org/r-socialsci/04-tidyr/index.html">Manipulación de datos con tidyr</a></td></tr>
        </tr>
        </table>
    </div>
</div>
