<div class="col-md-6">
    <table class="table table-striped">
      <tr>
      <tr><td>9:00</td> <td> <a href="https://datacarpentry.org/spreadsheets-socialsci/">Introducción a R</a></td></tr>
      <tr><td>10:00</td> <td> <a href="https://datacarpentry.org/spreadsheets-socialsci/">Empezando con datos</a></td></tr>
      <tr><td>11:00</td> <td> <a href="https://datacarpentry.org/spreadsheets-socialsci/">Manipulación de datos con dplyr y tidyr</a></td></tr>
      <tr><td>12:30</td> <td> <a href="https://datacarpentry.org/spreadsheets-socialsci/">Visualización de datos con ggplot2</a></td></tr>
      </tr>
    </table>
  </div>

