
<h3 id="videoconferencing">Instalación del software para la Videoconferencia</h3>

{% comment %}
Replace the paragraph below with the relevant installation instructions
if you do not use Zoom
{% endcomment %}
<p>
  Si no usaste Zoom antes, podés descargarlo desde su
  <a href="https://zoom.us/download">sitio oficial</a>.
</p>


<h4>Configurar tu espacio de trabajo</h4>

<p>
  Como en todos los talleres de Carpentries,
  vas a estar "codeando junto" a las instructoras.
  Para hacerlo, vas a necesitar tener tanto una pantalla con la herramienta
  que estás aprendiendo (RStudio, una consola, tu navegador, etc.)
  como la pantalla para la videoconferencia de Zoom.
  Para poder ver ambas al mismo tiempo,
  te recomendamos usar alguna de las siguientes opciones:
  <ul>
    <li><strong>Dos monitores:</strong> Si tenés dos monitores,
      organizate para tener la herramienta sobre la que vas a aprender en un monitor
      y la videconferencia en el otro.</li>
    <li><strong>Dos dispositivos:</strong> Si no tenés dos monitores, 
      ¿tenés un segundo dispositivo (tablet, smartphone) con una 
      pantalla de tamaño mediano o grande? En ese caso, intentá usar el
      dispositivo más pequeño para conectarte a la conferencia y el dispositivo
      más grande (notebook o computadora de escritorio) para utilizar la herramienta
      sobre la que estás aprendiendo.</li>
    <li><strong>Dividir la pantalla:</strong> Si solo tenés un dispositivo y una
      pantalla, practicá tener dos ventanas (la videoconferencia y la herramienta 
      que vas a usar) abiertas al mismo tiempo. 
      ¿De qué forma las podés ordenar para verlas bien? ¿Te resulta más cómo
      cambiar de una a otra con un atajo de teclado?
      Probalo antes del taller para decidir qué te resulta más cómodo.</li>
  </ul>
  Este <a href="https://carpentries.org/blog/2020/06/online-workshop-logistics-and_screen-layouts/" target="_blank">blog post (en inglés)</a> incluye información detallada sobre cómo configurar tu pantalla para seguir el taller.
</p>
